@model List<MetaDatos.MemoryDataBase.Cines>;
@{
    ViewData["Title"] = "Salas";
}

<style>
 .ImagenTamaño
 {
     width:40%;
     height:40%;
     display:block;
     margin:auto;
 }

 .VideoTamaño
 {
     width:100%;
     height:400px;
     display:block;
     margin:auto;
 }
 </style>

 
        @foreach (var item in Model)
        {
             
               
                    @foreach (var sala in item._Salones)
                    {
                         
                    @foreach (var pelicula in sala.Peliculas)
                    {

                            <div class="card">
                            <h5 class="card-header"><img class="ImagenTamaño" src="@pelicula.URL" /></h5>
                            <div class="card-body">
                                <h2 class="card-title text-center">@pelicula.Nombre</h2>
                                <p class="card-text">
                                    <iframe class="VideoTamaño" src="@pelicula.TrailerURL" width="420" height="360"> </iframe>
                                    <div><b>País:</b> @pelicula.País</div>
                                    <div><b>Categoría:</b>@pelicula.TipoDePelicula</div>
                                    <div><b>Fecha de Salida:</b>@pelicula.FechaDeCreacion.ToString("dd/MM/yyyy") </div>
                                    <div><b>Duración:</b>@pelicula.Duración</div>
                                </p>
                                <div class="d-flex p-2 justify-content-center">
                                    <a href="#" class="btn btn-primary"   onclick="location.href = '@Url.Action("Entradas", "Cine", new { nombrePelicula = pelicula.Nombre})'" data-from-method="post" >Comprar Entradas</a>
                                </div>
                             </div>
                        </div>
                       
                     }

 
                    }
      
            }

    